$primary-font: 'Roboto';

$font-bold: 900;
$font-medium: 500;
$font-regular: 400;

$color-black: black;
$color-white: white;
$color-light-gray: #6C6C6C;
$color-gray: #E6E6E6;
$color-dark-blue: #3852F7;